{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}
{% block extrastyle %}
  {{ block.super }}

    <style type="text/css">
    .results div.photo{
        width: 200px;
        margin: 10px 0px 0px 10px;
        float: left;
        border-color: #7CA0C7;
    }
    .results div.photo .photo-label{
        clear: both;
        background-color: #7CA0C7;
        padding: 5px;
        height: 30px;

    }
    
    .results div.photo .photo-label a{
        color: #fff;
    }

    .results div.photo img{
        float: left;
        border: 1px solid #ccc;
        margin: 8px;
    }
    #changelist .paginator {
        clear: both;
    }
    </style>
{% endblock %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          <div class="results">
              {% for c in cl.result_list %}
                <div class="photo module">
                    <a href="{{ c.pk }}">
                        <img src="{{ c.get_admin_thumbnail_url }}" alt="{{ c.title }}"/>
                    </a>
                    <div class="photo-label">
                    <a href="{{ c.pk }}">
                        {{ c.title }}
                    </a>
                    </div>

                </div>
              {% endfor %}
          </div>
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
